<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972323539727-jijmgo6ntoqse27tddehr8hru6gaj951.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972323539727-jijmgo6ntoqse27tddehr8hru6gaj951</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972323539727-djljbak7sja9tqbhk9per13cu4hcrq18.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPGUoeSJDfFYSlnJrFi_CXSKzeZKccHic</string>
	<key>GCM_SENDER_ID</key>
	<string>972323539727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realEstate</string>
	<key>PROJECT_ID</key>
	<string>realestate-e184e</string>
	<key>STORAGE_BUCKET</key>
	<string>realestate-e184e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972323539727:ios:36e892e2bef2e3fff88c7a</string>
</dict>
</plist>